.testShowButton{
  @apply
  flex
  justify-center
  items-center
  hover:scale-110
  ease-in-out
  duration-300
  cursor-pointer
  border 
  border-gray-300
  rounded-xl p-2
  bg-blue-500
  text-white
  font-medium;
}



.testShowButtonText{
  @apply 
  text-[10px]
  md:text-[15px]
  lg:text-[20px]
  select-none
}



@tailwind base;
@tailwind components;
@tailwind utilities;


  

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
